.subscriptions-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.subscription-card-container{
  min-width: 100%;
  width: fit-content;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem; 
  overflow: hidden; 
  position: relative;
  height: fit-content;
  .sub-bg-icon-container{
    position: absolute;
    height: 100%;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 1rem;
    .sub-bg-icon{
      font-size: 3rem;
      fill: $white;
    }
    .sub-icon-text{
      font-weight: $medium;
      color: $white;
    }
  }
}

.deleting-subscription{
  background-color: $red;
  .sub-bg-icon-container{
    right: 0;
  }
}
.editing-subscription{
  background-color: $green;
  .sub-bg-icon-container{
    left: 0;
  }
}
.subscription-card{
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  box-shadow: 10px 0px 60px 20px rgba(0,0,0,0.65);
  width: 100%;
  z-index: 10;
}
