.hamburger-menu-container{
  position: relative;
  .hamburger-menu-icon{
    font-size: 3rem;
    fill: $black;
  }
  .hamburger-menu{
    padding: 2rem;
    position: absolute;
    right: -25rem;
    top: 4rem;
    @include box-shadow;
    background-color: $white;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 17.5rem;
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      li{
        padding: 1rem 0;
        &:last-of-type{
          @include primary-btn($red)
        }
      }
    }
  }
}

.hamburger-menu-active{
  fill: $primary !important;
}

.menu-open{
  animation-duration: 0.25s;
  animation-name: openMenu;
  animation-fill-mode: forwards;
}

.menu-closed{
  animation-duration: 0.25s;
  animation-name: closedMenu;
  animation-fill-mode: forwards;
  
}

@keyframes openMenu {
  from{
    right: -25rem;
  }
  to{
    right: 0;
    top: 4rem;
  }
}

@keyframes closedMenu {
  from{
    right: 0;
    top: 4rem;
  }
  to{
    right: -25rem;
  }
}